{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{#{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}#}



{% if not is_popup %}
    {% block breadcrumbs %}
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">{% trans 'Password change' %}</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
    {% endblock %}
{% endif %}

{#{% block title %}{{ title }}{% endblock %}#}
{#{% block content_title %}<h1>{{ title }}</h1>{% endblock %}#}

{% block content %}
<div class="row" id="content-main">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title table-line">
                <div class="caption">
                    <i class="font-green icon-lock"></i>
                    <span class="caption-subject font-green">{% trans 'Password change' %}</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:void(0);" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <form method="post">{% csrf_token %}
                    <div class="form-body">
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                <p class="errornote">{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}</p>
                            </div>
                        {% endif %}

                        <div class="alert alert-info">
                            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
                        </div>

                        <fieldset class="module aligned wide">

                            <div class="form-group form-md-line-input form-md-floating-label ">
                                    {{ form.old_password }}
                                    {{ form.old_password.label_tag }}
                                    <span class="help-block">{{ form.old_password.errors }}</span>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label ">
                                    {{ form.new_password1 }}
                                    {{ form.new_password1.label_tag }}
                                    {% if form.new_password1.errors %}
                                        <span class="help-block">{{ form.new_password1.errors }}</span>
                                    {% elif form.new_password1.help_text %}
                                        <span class="help-block">{{ form.new_password1.help_text|safe }}</span>
                                    {% endif %}
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label ">
                                    {{ form.new_password2 }}
                                    {{ form.new_password2.label_tag }}
                                    {% if form.new_password2.errors %}
                                        <span class="help-block">{{ form.new_password2.errors }}</span>
                                    {% elif form.new_password2.help_text %}
                                        <span class="help-block">{{ form.new_password2.help_text|safe }}</span>
                                    {% endif %}
                            </div>

                        </fieldset>

                    </div>
                    <div class="form-actions submit-row right">
                        <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
